 <table class="table w  table-striped">
  <thead> 
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{customer.name}}</td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td>{{customer.dob}}</td>
     
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td>{{customer.gender}}</td>
     
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{customer.city}}</td>
     
    </tr><tr>
      <th scope="row">State</th>
      <td>{{customer.state}}</td>
     
    </tr><tr>
      <th scope="row">Mobile</th>
      <td>{{customer.phno}}</td>
     
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{customer.email}}</td>
     
    </tr>
  </tbody>
</table>